html, body{
    margin: 0px;
}

body{
    font-family: Avenir, 'Open Sans', -apple-system, BlinkMacSystemFont, "游ゴシック", "Yu Gothic" ,"游ゴシック体", YuGothic, Meiryo, sans-serif;
    font-weight: 500;
}

.navbar{
    height:70px;
    background-color:#fff;
    display: flex;
    align-items:center;
}

.logo{
    width: 200px;
    height:100%;
    background-image: url("../img/n-yobi-logo.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto auto;
}

.navtext{
    font-weight: Bold;
    margin-left: 2vw;
}

.navtext a{
    color: #000;
    text-decoration: none;
}

.header{
    height:25vh;
    background-position: center left;
    background-repeat: repeat;  /* TODO: no-repeat */
    position: relative;
}

.headertext{
    color: #fff;
    font-weight: Bold;
    font-size: 200%;
    position: absolute;
    bottom: 5%;
    left: 20px;
    margin: 0px;
}

.header-vagrant{
    background-image: url("../img/vagrant-bg.jpg");
}

.header-keyboard{
    background-image: url("../img/keyboard-bg.jpg");
    background-size: cover;
}

.content{
    padding:3%;
    padding-top:1vh;
}

.case{
    background-color: #F6F6F6;
    border-left: #000066 solid 3px;
    padding: 10px;
    margin: 10px;
}

.casetitle{
    color:#000066;
}

.casechild{
    background-color: #fff;
    border-left: #000066 solid 3px;
    padding: 10px;
    margin: 10px;
}